{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",

  "plugins": [
    "import"
  ],

  "parserOptions": {
    "sourceType": "module"
  },

  "globals": {
    "require": true,
    "console": true,
    "document": true,
    "process": true,
    "module": true,
    "__dirname": true
  },

  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  },

  "rules": {
    "strict": [2, "never"]
  }
}
